*{
  box-sizing: border-box;
}

#textAlign {
  text-align: center;
}

.row
{
  width: 100%;
}

@media (min-width: 992px)
{
  .col-lg-4
  {
    float: left;
    border: 1px solid black;

    width: 33.33%
  }

  }
  
}/*Desktop version*/

@media (min-width: 768px) and (max-width: 991px)
{
    .col-md-6
    {
      float: left;
      border: 1px solid black;
      width: 33.33%;
    }


}/*tablet version*/

@media (max-width: 767px)
{
    .sec1, .sec2, .sec3
  {
    float: left;
  }
  .sec1
  {
    width: 100%;
  }
  .sec2
  {
    width: 100%;
  }
  .sec3
  {
    width: 100%;
  }
}/*mobile version*/